.searchBar{
    display: grid;
    grid-template-columns: 1fr 10rem;
    gap: 2rem;
}

.searchBar input{
    font-size: 2rem;
    outline: none;
    border: none;
    border-bottom: 3px solid lightgrey;
    padding: 5px;
}

button{
    background: lightgreen;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    outline: none;
}

@media screen and (max-width: 800px){
    .searchBar{
        display: flex;
        flex-direction: column;
    }
}